<%= form_with(model: upvote, local: true) do |form| %>
  <% if upvote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(upvote.errors.count, "error") %> prohibited this upvote from being saved:</h2>

      <ul>
      <% upvote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id, id: :upvote_user_id %>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.number_field :post_id, id: :upvote_post_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
