<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>


<center>
  <table id="hnmain" width="85%" cellspacing="0" cellpadding="0" border="0" bgcolor="#f6f6ef">
    <tbody>
      <tr>
        <td bgcolor="#ff6600">
          <table style="padding:2px" width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
              <tr>
                <td style="width:18px;padding-right:4px">
                  <a href="https://news.ycombinator.com">
                    <img src="y18.gif" style="border:1px white solid;" width="18" height="18">
                  </a>
                </td>
                <td style="line-height:12pt; height:10px;">
                  <span class="pagetop"><b class="hnname">
                    <a href="news">Hacker News</a></b>
                    <a href="newest">new</a> |
                    <a href="threads?id=floxis">threads</a> |
                    <a href="newcomments">comments</a> |
                    <a href="show">show</a> |
                    <a href="ask">ask</a> |
                    <a href="jobs">jobs</a>
                    | <a href="submit">submit</a>
                   </span>
                 </td>
                 <td style="text-align:right;padding-right:4px;">
                   <span class="pagetop">
                     <a id="me" href="user?id=floxis">floxis</a>                (1) |
                <a id="logout" href="logout?auth=52986813b977729e4e0a49301265b8f0e64d4de7&amp;goto=user%3Fid%3Danigbrowl">logout</a>                          </span></td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr style="height:10px">
      </tr>
      <tr>
        <td>
          <table border="0">
            <tbody>
              <tr class="athing">
                <td valign="top">user:</td>
                <td timestamp="1240107667">
                  <a href="<%= @user.uid %>" class="hnuser"><%= @user.name %></a>
                </td>
              </tr>
              <tr>
                <td valign="top">created:</td>
                <td><a href="front?day=2009-04-19&amp;birth=anigbrowl"><%= @user.created_at %></a></td>
              </tr>
              <tr>
                <td valign="top">karma:</td>
                <td>53504</td>
              </tr>
              <tr>
                <td valign="top">about:</td>
                <td>Fully Automated Luxury Gay Space Communism<p>Send email via gmail</p><p>Send bitcoin via 1G8GmiiekNqt2YFqt5K2boWCxwR5L4dF5W</p></td>
              </tr>
              <tr>
                <td></td>
                <td>
                  <a href="submitted?id=anigbrowl">
                    <u>submissions</u>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td>
                  <a href="threads?id=anigbrowl">
                    <u>comments</u>
                  </a>
                </td>
              </tr>
              <tr>
                <td>
                </td>
                <td>
                  <a href="favorites?id=anigbrowl">
                    <u>favorites</u>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
          <br>
        </td>
      </tr>
    </tbody>
  </table>
</center>
