<center>
  <table>
    <thead>
      <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
        <tbody>
          <tr> <!--Cabezera -->
            <td bgcolor="#ff6600">
              <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                <tbody>
                  <td style="width:18px;padding-right:4px">
                    <a href="https://news.ycombinator.com">
                      <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid;">
                    </a>
                  </td>
                  <td style="line-height:12pt; height:10px;">
                    <span class="pagetop">
                      <b class="hnname">
                        <a style="text-decoration: none;" href="news">Hacker News</a>
                      </b>
                        <a href="newest">new</a> |
                        <a href="newcomments">comments</a> |
                        <a href="show">show</a> |
                        <a href="ask">ask</a> |
                        <a href="jobs">jobs</a> |
                        <%= link_to 'Submit ', new_post_path %>
                      </span>
                    </td>
                    <td style="text-align:right;padding-right:4px;">
                      <span class="pagetop">
                        <a href="auth/twitter">login</a>
                      </span>
                    </td>
                  </tbody>
                </table>
            </td>
          </tr> <!--Final Cabezera-->
          <tr style="height:10px"></tr>
          <tr> <!-- News -->
            <td>
              <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                <tbody>
                  <% @posts.each do |post| %>
                  <!-- Una new -->
                  <tr class='athing' id='16898827'>
                    <td align="right" valign="top" class="title">
                      <span class="rank">1.</span>
                    </td>
                    <td valign="top" class="votelinks">
                      <center>
                        <a id='up_16898827' href='vote?id=16898827&amp;how=up&amp;goto=news'>
                          <div class='votearrow' title='upvote'></div>
                        </a>
                      </center>
                    </td>
                    <td class="title">
                      <a href="<%= post.url %>" class="storylink"><%= post.title %></a>
                      <span class="sitebit comhead"> (
                        <a href="from?site=threadreaderapp.com">
                          <span class="sitestr">threadreaderapp.com</span>
                        </a>)
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">
                    </td>
                    <td class="subtext">
                      <span class="score" id="score_16898827">291 points</span> by
                      <a href="user?id=passenger" class="hnuser">passenger</a>
                      <span class="age">
                        <a href="item?id=16898827">8 hours ago</a>
                      </span>
                      <span id="unv_16898827"></span> |
                      <a href="hide?id=16898827&amp;goto=news">hide</a> |
                      <td><%= link_to '0 comments', post %></td>
                    </td>
                  </tr>
                  <tr class="spacer" style="height:5px">
                  </tr>
                  <% end %>
                  <!-- Final de una new -->
                </tbody>
              </table>
            </td>
          </tr> <!-- Final News -->
        </tbody>
      </table>
    </center>

<!--  <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.title %></td>
          <td><%= post.url %></td>
          <td><%= post.text %></td>
          <td><%= post.votes %></td>
          <td><%= link_to 'Show', post %></td>
          <td><%= link_to 'Edit', edit_post_path(post) %></td>
          <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  		<td><%= link_to 'Upvote', post, method: :upvote %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>

  <%= link_to 'New Post', new_post_path %>
  <%= link_to 'new', newest_path %>
  <%= link_to 'ask', ask_path %>
-->
