<center>
    <table>
        <thead>
            <table id="hnmain" border="0" cellpadding="0" cellspacing="0" width="85%" bgcolor="#f6f6ef">
                <tbody>
                    <tr>
                        <!--Cabezera -->
                        <td bgcolor="#ff6600">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding:2px">
                                <tbody>
                                    <td style="width:18px;padding-right:4px">
                                        <a href="/../posts">
                      <img src="https://news.ycombinator.com/y18.gif" width="18" height="18" style="border:1px white solid;">
                    </a>
                                    </td>
                                    <td style="line-height:12pt; height:10px;">
                                        <span class="pagetop">
                      <b class="hnname">
                        <a style="text-decoration: none;" href="/../posts">Hacker News</a>
                      </b>
                        <a href="newest">new</a> |
                        <% if current_user %>
                          <a href="threads">threads</a> |
                        <% end %>
                        <a href="ask">ask</a>
						<% if current_user %>
							|
							<%= link_to 'Submit ', new_post_path %>
						<% end %>
                      </span>
                                    </td>
                                    <td style="text-align:right;padding-right:4px;">
                                        <span class="pagetop">

						<% if current_user %>
						      <a class="navbar-text navbar-right" href="/users/<%= current_user.id %>/edit"><%= current_user.name %> (<%= current_user.karma %>)</a> |
						       <a href="logout">logout</a>
						<% else %>
						      <a href="auth/twitter">login</a>
						<% end%>
                      </span>
                                    </td>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!--Final Cabezera-->
                    <tr style="height:10px"></tr>
                    <tr>
                        <!-- News -->
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" class="itemlist">
                                <tbody>

                                    <% @posts.each do |post| %>
                                        <!-- Una new -->
                                        <tr class='athing' id='16898827'>
                                            <td align="right" valign="top" class="title">
                                                <span class="rank"><%=@contador+=1%>.</span>

                                            </td>
                                            <td valign="top" class="votelinks">
                                                <center>
                                                    <a id='up_16898827' href='vote?id=16898827&amp;how=up&amp;goto=news'>
                                                        <div class='votearrow' title='upvote'></div>
                                                    </a>
                                                </center>
                                            </td>
                                            <td class="title">
                                                <a href="http://<%= post.url %>" class="storylink">
                                                    <%= post.title %>
                                                </a>
                                                <span class="sitebit comhead"> (

                          <span class="sitestr"><%= post.url %></span> )
                                                </span>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td colspan="2">
                                            </td>
                                            <td class="subtext">
                      <!--votaciones-->
											<% if current_user %>
													<%if post.upvotes.include? current_user.upvotes.find {|u| u.post_id == post.id}%>
														  <%= link_to 'Unvote'.html_safe, {:controller => "upvotes",
                                                                               :action => "destroy",
                                                                               :upvote => (current_user.upvotes.find {|u| u.post_id == post.id}).id
                                                                                   }, :method => "delete" %>

												  <% else %>

													   <%= link_to 'Upvote'.html_safe, {:controller => "upvotes",
                                                                               :action => "create",
                                                                               :upvote => {
                                                                               :post_id => post.id
                                                                               }},:method => "post" %>

												  <% end %>
												<% end %>
                        <!--fin votaciones-->
                                                <span class="score"> <%= post.upvotes.count %> points </span> by
                                                <a href="users/<%=post.user_id%>" class="hnuser">
                                                    <%= post.user.name %>
                                                </a>
                                                <span class="time"> <%= time_ago_in_words(post.created_at) %> </span> ago |
                                                <span class="comments">

                        <a href="posts/<%=post.id%>"><%= post.comments.count %> comments</a>
                      </span>
											<% if current_user and post.user.id == current_user.id %>
											| <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
											<% end %>
                                            </td>
                                        </tr>
                                        <tr class="spacer" style="height:5px">
                                        </tr>
                                        <% end %>
                                            <!-- Final de una new -->
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <!-- Final News -->
                </tbody>
            </table>
</center>
